<html>
    <head>
        <title>Login EJS </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
          body{
            background-color: burlywood;
          }
          header{
            height: 100px;
          }
          footer{
             height: 120px;
           }
            .card{
              height: auto;
              margin-bottom: 20px;
              background-color:lightgoldenrodyellow;
              border-radius: 5%;
            }
            .card h2{
              text-align: center;
              padding-top: 10px;
            }
        </style>
      </head>
    <body>
      <header class="container jumbotron">
        <%- include('../views/header'); %>
      </header>
      <div class="container card">
        <h2>Login Form</h2>
        <div>
          <form action="/login" method="post">
            <div class="form-group">
              <%   if(typeof message != "undefined" && message) { %>
  
                <div class="mt-5 mb-3">
        
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
        
                    <strong><%=  message  %></strong>
        
                    
        
                  </div>
        
                </div> 
        
              <% }    %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
              
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
            </div>
            
            <center><button type="submit" class="btn btn-primary">Login</button></center>
            <h5 style="text-align: center; padding-top: 20px;"><a href="/ForgottenPassword">Forgotten password?
            </a></h5>
          </form>
        </div>
      </div>
    <footer class="container jumbotron">
      <%- include('../views/footer'); %>
    </footer>
      </body>
</html>